p {
    font-family: 'Times New Roman', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 150%;
}

body {
    background-color: rgb(248, 214, 197);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
ol {
    list-style-position: inside;
}
li {
    text-align: center;
}