.pe {
    font-family: 'Times New Roman', sans-serif;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 110%;
    display: block;
    
}

body {
    background-image: linear-gradient(to bottom, rgb(153, 233, 153), rgb(217, 224, 111));
}

h1 {
    text-align: center;
}

.recipe-boxes {
    display: inline-block;
    width: 350px;
    background-color: white;
    height: fit-content;
    margin-right: 20px;
    padding-bottom: 290px;
    border-width: 2px;
    border-color: black;
    border-style:dashed;
}

img {
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headings {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Kavoon', sans-serif;
    padding: 0 16px;
    margin-bottom: 10px;
    color:  green;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bigbox {
    height: fit-content;
    padding-bottom: 290px;
}
